<div class="group-section">
  <div class="api col-xs-12 col-sm-6">
    <h2>API Documentation</h2>
    <div id="what">
      <h3>What does this API do?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in consequat orci, non dictum ex. Aenean magna tellus, facilisis a mollis quis, efficitur vel leo. Fusce non pellentesque lacus, gravida gravida leo. Sed pretium varius erat, vitae pellentesque neque viverra ac. Quisque quis mi augue. Suspendisse rutrum lacus pharetra, facilisis nulla a, tincidunt orci. Nulla hendrerit justo posuere erat rutrum auctor. Praesent feugiat auctor eros vitae porttitor. Fusce ipsum lacus, pretium a sodales volutpat, placerat id sapien.</p>
    </div>

    <div id="who">
      <h3>Who is this API for?</h3>
      <p>Proin fermentum porttitor ipsum, in porttitor magna luctus nec. Etiam hendrerit id enim et auctor. Suspendisse dui velit, luctus eget dolor eget, euismod ullamcorper quam. Ut tincidunt bibendum felis, eu pellentesque tortor sodales sed.</p>
    </div>
  </div>
  <div class="code col-xs-12 col-sm-6">
    <h2>Code Examples</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>API Endpoint:</p>
    <code>https://echesters.co.uk</code>
  </div>
</div>
