<h2>Categories</h2>
<ul>
  <li>Introduction</li>
    <li><ul>
      <li><a href="#what">What does this API do?</a></li>
      <li><a href="#who">Who is this API for?</a></li>
    </ul></li>

  <li><a href="#topics">Topics</a></li>
  <li><ul>
    <li><a href="#topic-1">Sub-topic 1</a></li>
    <li><a href="#topic-2">Sub-topic 2</a></li>
    <li>Sub-topic 3</li>
    <li>Sub-topic 4</li>
    <li>Sub-topic 5</li>
    <li>Sub-topic 6</li>
    <li>Sub-topic 7</li>
    <li>Sub-topic 8</li>
    <li>Sub-topic 9</li>
    <li>Sub-topic 10</li>
  </ul></li>

  <li>Troubleshooting</li>
    <li><ul>
      <li>Issue 1</li>
      <li>Issue 2</li>
      <li>Issue 3</li>
      <li>Issue 4</li>
    </ul></li>

  <li>Resources</li>
  <li><ul>
    <li>Resources 1</li>
    <li>Resources 2</li>
    <li>Resources 3</li>
    <li>Resources 4</li>
    <li>Resources 5</li>
    <li>Resources 6</li>
    <li>Resources 7</li>
    <li>Resources 8</li>
  </ul></li>

  <li>Glossary</li>
  <li><ul>
    <li>Term 1</li>
    <li>Term 2</li>
    <li>Term 3</li>
    <li>Term 4</li>
  </ul></li>

</ul>