#categories {
	background-color: $brand-color;
	height: 100vh;
	color: #fff;
	overflow: scroll;

	ul, ol {
		list-style: none;
		margin-left: 0;
		font-weight: $base-light-weight;

		li {
			margin: 5px 0;
		}

		li ul, li ol {
			margin: 0 0 15px 30px;
		}
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: none;
			color: darken($brand-color, 25%);
		}
	}

	h2 {
		color: #fff;
	}
}