#categories {
  background-color: $grey-color-light;
  height: 100vh;
  color: $brand-color;
  overflow: scroll;
  font-size: 1.25em;

  ul, ol {
    list-style: none;
    margin-left: 0;
    font-weight: $base-light-weight;

    li {
      margin: 5px 0;
    }

    li ul, li ol {
      margin: 0 0 15px 30px;
    }
  }

  h2 {
    color: $brand-color;
  }

  a {
    color: $brand-color;

    &:hover {
      text-decoration: none;
      color: darken($brand-color, 25%);
    }
  }

  i {
    font-size: 10px;
    vertical-align: middle;
  }
}
