.section {
	height: 100vh;
	overflow: scroll;
}

.group-section {
	font-size: 1.1em;
}

h2 {
	margin-top: 15px;
}

h2, h3, h4, h5 {
	font-weight: $base-header-weight;
}

.api, .code {
	min-height: 450px;
}

.code {
	float: right;
	background-color: $grey-color-darker;
	color: $grey-color-light;
	display: inline-block;

	pre, code {
		font-family: $code-font;
		background-color: $grey-color-dark;
		border-color: $grey-color;
		color: $grey-color-light;
		padding: 15px 10px;
		width: 100%;
		display: block;
	}
}

#intro {
	.languages {
		width: 50%;
		display: block;
		float: right;
		background-color: #000;

		ul li {
			margin: 10px 0;
			display: inline-block;

			a {
				color: $grey-color-light;
				padding: 5px 10px;

				&:hover {
					color: #fff;
					text-decoration: none;
					background-color: $brand-color;
					border-radius: 100px;
				}

				&:active {
					-webkit-box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
					-moz-box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
					box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
				}
			}

		}
	}
}