.section {
  height: 100vh;
  overflow: scroll;
}

.group-section {
  font-size: $base-font-size;
  height: 100%;
  display: flex;
}

.api, .code {
  &.border {
    border-top: rgba(200, 200, 200, .2) 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.code {
  background-color: $grey-color-darker;
  color: $grey-color-light;
  display: inline-block;
  padding-bottom: 15px;

  &.no-header {
    padding-top: 15px;
  }

  a {
    color: $brand-color;
    &:hover {
      color: lighten($brand-color, 20%);;
    }
  }
}

.languages {
  width: 100%;
  display: block;
  float: right;
  background-color: #000;
  margin: 0;

  ul {
    margin-bottom: 0;
    
    li {
      margin: 10px 0;
      display: inline-block;

      a {
        color: $grey-color-light;
        padding: 5px 10px;

        &:hover {
          color: #fff;
          text-decoration: none;
          background-color: $brand-color;
          border-radius: 100px;
        }

        &:active {
          -webkit-box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
          -moz-box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
          box-shadow: inset 3px 3px 15px 1px rgba(0,0,0,0.52);
        }
      }
    }
  }
}